/** Template for the website by freewebsitetemplates.com **/
body{
	margin:0;
	padding:0;
	background: url("/static/bg-body.jpg");
	font-family: Georgia;
}
img{
	border:0;
}
#header {
	background: url("/static/sports-logo.png");
	background-position:top;
	background-repeat: repeat-x;
	height: 147px;
	color: white;
	text-align: center;
}
#header #container {
	width: 960px;
	padding-top: 21px;
	margin: auto;
}
#header h1 {
	font-size: 36pt;
}
#header a {
	color: #020201;
	text-decoration: none;
}
#header a:hover {
	color: #ffaa44;
}

#header #login .loginBtn {
	color: rgba(141, 12, 66, 0.7);
	background-color: #CCC;
	border: 1px solid #F00;
	/*font-weight: bold;*/
	padding: 5px 13px 5px 13px;
	font-family: Georgia;
	font-size: 14pt;
	border-radius: 3px;
}
#header #logo {
	float: left;
	left: -100;
	margin-top: -23px;
}

#main{
	background: url("/static/bg-body.jpg");
	background-position: top;
	background-repeat: repeat-x;
	margin: 0;
	padding: 13px 0 13px 0;
}
#content{
	display: table;
	width: 940px;
	margin: auto;
	border-radius: 13px;
	border: 3px solid ED1C0B;
	color: ED1C0B;
}
#content #sports {
	display: table-cell;
	width: 300px;
	padding-left: 21px;
	border: 2px solid rgba(141, 12, 66, 0.7);
	padding: 5px 13px 5px 13px;
}
#content #sports ul {
	list-style-type: square;
}
#content #items {
	display: table-cell;
	padding-left: 21px;
	border: 2px solid rgba(141, 12, 66, 0.7);
}
#content #items ul {
	list-style-type: square;
	font-size: 11pt;
}
#content .ric {
	display: inline;
	font-style: italic;
	color: #030303;
}

#content #iteminfo {
	display: table-cell;
	padding: 21px;
}
#content #additem {
	padding: 5px 7px 5px 7px;
	border: 1px solid red;
	border-radius: 7px;
	background-color: #CCC;
	font-family: Georgia, helvetica;
	font-size: 10pt;
	margin-left: 9px;
	color: rgba(141, 12, 66, 0.7);
	text-decoration: none;
}
#content #myitems {
	float: right;
	margin: 13px 13px 0 0;
	padding: 3px 5px 3px 5px;
	border: 1px solid red;
	background-color: #cccccc;
	border-radius: 3px;
	font-family: Georgia, helvetica;
	font-size: 10pt;
	margin-left: 9px;
	text-decoration: none;
}

#footer {
	clear: both;
	width: 940px;
	margin:0 auto;
	color: ED1C0B;
	background: url("/static/bg-body.png");
	border-radius: 13px;
}
#footer .section {
	padding: 1px 21px 1px 21px;
}
#footer #feeds {
	float: left;
	text-align: center;
	font-family: Georgia;
	padding-left: 11px;
}
#footer #feeds a {
	color: ED1C0B;
	font-family: Georgia;
	font-size: 8pt;
}
#footer #feeds a {
	text-align: center;
}
.clearfix {
	clear: both;
	line-height: 0;
}
li {
	line-height: 160%;
	font-family: verdana, Georgia;
}
a {
	color: rgba(141, 12, 66, 0.7);
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
p {
	font-family: verdana, Georgia, helvetica;
	font-size: 10pt;
	line-height: 160%;
	color: black;
}
.productimage {
	float: right;
	padding: 0 0 21px 13px;
}
#dates {
	float: right;
	text-align: right;
	font-family: verdana, Georgia, helvetica;
	font-size: 7.5pt;
	color: black;
	line-height: 160%;
}