<!DOCTYPE html> 
<html> 
<head> 
	{% include "head.html" %} 
</head> 
<body> 
	{% include "header.html" %}
		<div id="main">
			<div id="content">
				<div id="iteminfo">
					<h2>Add itmes to '{{sport.name}}' category</h2>
					<form action="{{url_for('new_item', sport_id=sport_id)}}" method="post" enctype="multipart/form-data">
						<div style="float: left; text-align: right; padding: 7px; font-weight: bold;">
							<p>Item name:<br/>
							&nbsp; <br/>
							Item price:<br/>
							&nbsp; <br/>
							Item image:<br/>
							&nbsp; <br/>
							Item description:<br/>
							</p>
						</div>
						
						<div style="float: left; padding:7px;">
							<p>
							<input type="text" name="name" style="width: 400px;" /><br />
							&nbsp; <br />
							<input type="text" name="price" style="width: 100px;" /><br />
							&nbsp; <br />
							<input type="file" name="image" accept="image/*" /><br />
							&nbsp; <br />
							<textarea name="description" style="width: 400px; height: 200px"></textarea><br />
							<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
							<input type="submit" value="Add Item" />
							<a href="{{ url_for('sport_items', sport_id=sport.id )}}">Cancel</a>
							<br />
							</p>
						</div>

					</form>

				</div>
			<div class="clearfix"></div>
			</div>
		</div>
{% include "footer.html" %}
{% include "messages.html" %}
</body>
</html>
