<!DOCTYPE html>
<html>
<!-- Website template by freewebsitetemplates.com -->
<head>
{% include "head.html" %}
</head>
<body>
{% include "header.html" %}
	<div id="main">
		<div id="content">
			<div id="sports">
				<h2>Sports Categories</h2>
				<ul>
					{% for c in sports %}
					<li><a href="{{url_for('sport_items',sport_id=c.id)}}">{{ c.name }}</a></li>
					{% endfor %}
				</ul>
			</div>
			<div id="items">
				<h2>My Items</h2>
				{% if myItems %}
				<ul>
					{% for i in myItems %}
					<li><a href="{{url_for('item_info',sport_id=i.sport_id, item_id=i.id)}}">{{ i.name }}</a></li>
					{% endfor %}
				</ul>
				{% else %}
				<h5>- You have not created any items.</h5>
				{% endif %}
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
{% include "footer.html" %}
</body>
</html>